<ion-view view-title="我">

  <ion-content class="item-divider">

    <div class="list account">
      <div class="item item-avatar">
        <img src="data:image/jpeg;base64,{{User.ProfileImage}}">
        <h2>{{User.AgencyName}}</h2>
        <p>{{User.RealName}}</p>
      </div>
    </div>

<!--    <div class="list">
      <a class="item item-icon-right" href="#/stab/shome/noticedetail">
        <p>我的商城</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

      <a class="item item-icon-right" href="#/tab/noticelist">
        <p>公告</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>-->

    <div class="list">
      <div class="item item-icon-right">
        <p>个人资料</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        <p>聚合平台</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
      <div class="item item-icon-right">
        <p>帮助中心</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

    <div class="list">
      <div class="item item-icon-right">
        <p>安全退出</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>

  </ion-content>

</ion-view>
